/* CAROUSEL SECTION */
#carouselExampleCaptions{
    background: gray;
}

/* DOLOR SITEMA SECTION */
.imgnotes{
    height: 50px;
    width: 30px;
    padding-left: 6px;
    padding-top: 4px;
}
.card:hover{
    box-shadow: 7px 5px 40px grey;
}
@media (max-width:804px){
    #card-para{
        flex-wrap: wrap;
    }
    .carousel-caption h4 {
        font-size: 10px;
    }
    .carousel-caption p {
        font-size: 10px;
    }
 }

 /* FULL DETAIL SECTION */
#content-info{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
} 
#content-info img{
     width: 400px;
     height: 300px;
     margin: 5px;
}
#content-info #content{
    margin: 11px;
}
#content-info #content{
    width: 500px;
    height: 300px;
}
@media (max-width:804px){
    #content-info{
        flex-wrap: wrap;
    }
    #content-info #content{
        width: 400px;
        height: 300px;
    }
}

/* DETAIL NOTES SECTION */
.notes img{
    height: 50px;
    width: 30px;
    padding-left: 6px;
    padding-top: 4px;
}
.notes{
    display: flex;
    justify-content: center;
}
.notes1{
    display: flex;
}
.notes2{
    display: flex;
}
.imgpara-note{
    border: 2px solid rgb(230, 228, 228);
    margin: 4px;
    padding: 8px;
}
.imgpara-note:hover{
    background-color: rgb(245, 188, 83);
    color: white;
}

.imgpara-note img{
    display: block;
    margin: auto;
}
@media (max-width:502px){
    .note{
        flex-direction: column;
    }
} 

/* NEWSLETTER SECTION */
.newsletter{
    padding: 39px;
    background-color: rgb(65, 63, 63);
    color: white;
}
.newsletter h4{
     margin-left: 10px;
}
.newsletter-content{
    display: flex;
  
}
.subscribe{
    margin-top: 70px;
}
@media (max-width:686){
    .newsletter-content{
        flex-direction: column;
    }
}

/* USEFUL LINKS SECTION */
.property-amenities{
    /* border: 2px solid black; */
    background-color: rgba(238, 236, 236, 0.884);
    padding-left: 120px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 60px;
    background-color: black;
    color: white;
}
.amenities-content{
    justify-content: space-between;
}

.content{
    margin-top: 25px;
}

@media (max-width:760px){
    .amenities-content{
        flex-direction: column;
    }
}